<h1> Agencia </h1>

<div id="home">
  <h5> ESTADISTICAS Y MÁS COSITAS </h5>
</div>

<div id="agency-admins">
  <h4> Administradores Registrado </h4>
  <table class="table">
    <tr class="thead-light"> 
      <th scope="col"> Nombre </th>
      <th scope="col"> Fecha </th>
    </tr>
    <% admins.each do |admin| %>
      <tr scope="row"> 
        <td> <%= admin.name %> </td>
        <td> <%= l admin.created_at, format: :short  %> </td>
      </tr> 
    <% end %>
  </table>

  <%= link_to 'Registrar Administrador', new_user_registration_path, class: 'btn btn-primary my-4'%>
</div>
