<%= render 'partials/modal_sign_out' %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/"> Inicio </a>
    </li>
  </ul>
  <ul class="navbar-nav right-icons">
    <button class="sidebar" type="button" id="sidebar-wrap">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item">
      <a class="nav-link" id="sign-out-btn"> <i class="fas fa-user-times"></i> </a>
    </li>
  </ul>
</nav>
