<div class="form-group">
  <h5> Información de la campaña </h5>
  <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control' %>
  <%= f.text_field :description, placeholder: 'Objetivo', class: 'form-control' %>
  <%= f.date_field :start_date, placeholder: 'Fecha de inicio', class: 'form-control' %>
  <%= f.date_field :finish_date, placeholder: 'Fecha de fin', class: 'form-control' %>
</div>
